asgiref
certifi
charset-normalizer 
crispy-bootstrap5  
crispy-tailwind    
distlib
dj-database-url    
Django
django-crispy-forms
django-email       
django-environ     
django-filter      
django-jazzmin     
djangorestframework
EasyProcess
entrypoint2
filelock
gunicorn
idna
Markdown
MouseInfo
mss
mysqlclient
numpy
opencv-contrib-python
packaging
Pillow
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dotenv
pytweening
pytz
requests
sqlparse
sweetify
typing_extensions
tzdata
urllib3
vercel
virtualenv